@model IEnumerable<Projekt.Models.Predbiljezba>

@{
    ViewBag.Title = "Predbilježbe";
}

<br />

@using (Html.BeginForm("ListaPredbiljezbi", "Predbiljezbe", FormMethod.Get))
{
    <b>Pretraga:</b>
    @Html.TextBox("rijec")
    <input type="submit" value="Pretraži" />
}
<br />
<div>
    @Html.ActionLink("Sve predbilježbe", "ListaPredbiljezbi", "Predbiljezbe", htmlAttributes: new { @class = "btn btn-xs btn-default", @role = "button" })
    @Html.ActionLink("Prihvaćene predbilježbe", "PrihvacenePredbiljezbe", "Predbiljezbe", htmlAttributes: new { @class = "btn btn-xs btn-default", @role = "button" })
    @Html.ActionLink("Odbijene predbilježbe", "OdbijenePredbiljezbe", "Predbiljezbe", htmlAttributes: new { @class = "btn btn-xs btn-default", @role = "button" })
    @Html.ActionLink("Neobrađene predbilježbe", "NeobradjenePredbiljezbe", "Predbiljezbe", htmlAttributes: new { @class = "btn btn-xs btn-default", @role = "button" })
</div>
<br />
<table class="table table-striped table-hover">
    <tr>

        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Seminar.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KontaktBroj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.IdPredbiljezba }, htmlAttributes: new { @class = "btn btn-xs btn-default", @role = "button" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seminar.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KontaktBroj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

        </tr>
    }

</table>
